<!DOCTYPE html>
<html>
<head>
  <title>ScormRte</title>
  <%= stylesheet_link_tag    "scorm_rte/application", media: "all" %>
  <%= javascript_include_tag "scorm_rte/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
